.mainbody {
  background-color: white;
  margin-left: 160px;
  margin-right: 160px;
}
.mainbody_top {
  display: flex;
  margin-top: 15px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.mainbody_top_right {
  display: flex;
  align-items: center;
}

.mainbody_top_center {
  display: flex;
  box-sizing: content-box;
  align-items: center;
  padding: 3px 5px;
  border-radius: 6px;
  font-size: 16px;
}

/* card container */

.doc_card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 200px;
  flex-basis: 23%;
  margin: 5px;
  border-radius: 8px;
  border-right: 4px solid #e8c8de;
  border-bottom: 4px solid #e7cedf;
}

.doc_card:hover {
  border: 1px solid #6e2594;
  cursor: pointer;
}
.doc_image {
  box-sizing: border-box;
  height: 150px;
  width: 100%;
}

.doc_card_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
}
.doc_card_content h5{
  margin: 0;
  margin-top: 10px;
 font-style:italic;
  text-align: center;
}
.doc_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}
.content_left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* form style */

.main_body_forms {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  border-radius: 8px;
}
@media (max-width: 600px) {
  .mainbody_top_right{
    display: none;
  }


  .mainbody{
    margin-left: 23px;
    margin-right: 23px;
  }

  .mainbody_top_left{
    margin: 0px auto;
  }

  .doc_card{
    flex-basis: auto;
    margin: 10px auto;
    width: 80%;
  }
}

/* Media query for screens between 601px and 900px wide */
@media (min-width: 601px) and (max-width: 900px) {
  .mainbody_top_right{
    width: 220px;
  }
}