.question_form {
  background-color: aliceblue;
  height: 100%;
  padding-bottom: 30px;
}

.section {
  width: 50%;
  margin: 2px auto;
}

.question_form_top {
  background-color: white;
  border-top: 8px solid blue;
  border-radius: 8px;
  padding: 30px 25px;
  text-transform: capitalize;
}

.question_form_top_name {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  line-height: 135%;
  width: 100%;
  border: none;
  outline: mone;
  border-bottom: 1px solid azure;
  color: black;
  height: 35px;
  margin: 20px auto;
}

.question_form_top_desc {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;
  width: 100%;
  border: none;
  outline: mone;
  border-bottom: 1px solid azure;
  color: black;
  height: 20px;
  text-align: start;
  margin-top: 25px;
}

.question_boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.add_question {
  background-color: white;
  border-radius: 8px;
  padding: 25px, 22px;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  width: 93%;
  margin-left: 10px;
}

.add_question_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.question {
  box-sizing: border-box;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 400;
  flex: 1;
  line-height: 40px;
  width: 40%;
  border: none;
  outline: none;
  color: black;
  height: 40px;
  margin-right: 10px;
  line-height: 10px;
  padding: 10px;
}

.question:focus {
  border-bottom: 1px solid rgb(103, 58, 183);
  background-color: #f4f4f9;
}

.select {
  height: 40px;
  width: 230px;
  font-weight: bold;
  border: 0.5px solid;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  border: 1.5px solid #f4f4f9;
  border-radius: 3px;
  background: transparent;
}

.menuitem {
  color: rgba(118, 118, 118, 0.3);
}

.add_question_body {
  display: flex;
  align-items: center;
}

.text_input {
  outline: none;
  border: none;
  width: 280px;
  height: 40px;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400px;
  letter-spacing: 0.2px;
  color: #202124;
}

.text_input:focus {
  border-bottom: 1.5px solid rgb(103, 58, 183);
}

.add_footer {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.add_question_bottom {
  margin-top: 12px;
  border-top: 1px solid rgba(118, 118, 118, 0.3);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.add_question_bottom_left {
  margin-top: 12px;
  border-top: 1px solid rgba(118, 118, 118, 0.3);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.add_border {
  border-left: 6px solid #4285f4;
}
.foo {
  border-bottom: 2px solid blue;
  border-top: 2px solid blue;
}

.question_edit {
  background-color: #bbe9eb;
  display: flex;
  flex-direction: column;
  margin-right: 12px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 1px;
  border-radius: 3px;
  height: 180px;
  width: 35px;
  justify-content: space-between;
  cursor: pointer;
}
.edit {
  color: #5f6368;
  padding: 8px, 5px;
}

/* ANSWER TAB STYLES */
.answer_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.answer_setpoints {
  position: relative;
  bottom: 20px;
  left: 100px;
}

.view-questions-finally {
  border: 1px solid black;
  width: 20%;
  margin: 0px auto;
}
.icon {
  color: blue;
  position: relative;
  bottom: 64px;
  left: 275px;
}
.my_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.my_data_buttons {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 2em;
}

.SAVEDICON {
  color: blue;
  position: relative;
  top: 49px;
  left: 275px;
}
@media screen and (max-width: 480px) {
  .section {
    width: 95%;
  }
  .text_input {
    width: 225px;
    height: 40px;
  }
  .add_question_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .question_boxes {
    width: 97%;
    margin-left: 4px;
    margin-top: 3px;
    border-top: 2px solid black;
  }

  .question{
  width: 98%;
  border-bottom: 1.4px solid #5f6368;
  }

  .add_question_body {
    width: 60%;
  }
  .add_question {
    width: 100%;

    margin-left: 0px;
  }

  .add_question_bottom {
    align-items: center;
    width: 195px;
  }
  .my_close_icon {
    position: relative;
    right: 30px;
  }
}
